@model IEnumerable<Webgentle.BookStore.Models.BookModel>
@{
    Layout = "_Layout";
}



<div class="container">
    <h3 class="display-4">All Books</h3>
       <div class="row">
        <table>
            <tr>
                <td>Book Id</td>
                <td>Book Title</td>
                <td> Book Author</td>
            </tr>
        
        @foreach(var book in Model)
        {
         <tr>
             <td> @book.id </td>
             <td>@book.Title</td>
             <td> @book.Author</td>
         </tr>  
        }
        </table>
    </div>
</div>